%h3
  Drat! The confirmation link you've clicked on is either expired or invalid.

%p
  If you have already confirmed your email address, you can try
  #{link_to 'logging in', login_path}, but if that doesn't work
  just send an email to #{mail_to "gregory@practicingruby.com"}
  and I will help you resolve this issue.

