- content_for(:title)  { "Paid subscriptions to Practicing Ruby have ended" }
- content_for(:header) { "Paid subscriptions to Practicing Ruby have ended" }

%p
  All paid subscriptions to Practicing Ruby have been cancelled, 
  as of December 14, 2015.

%p
  Don't worry, we aren't closing up shop! Practicing Ruby will continue
  on throughout 2016, with a total of 12 collaborative works scheduled
  to be published, and I will set aside at least 60 working days
  in 2016 to assist with these collaborations.

%p
  I will be continuing the work on Practicing Ruby through a
  new project called "The Practicing Developer's Workshop".

%p
  As a former Practicing Ruby subscriber, you will be invited to
  join this new educational project. Just like Practicing Ruby,
  payment is optional, but there is no difference in benefits
  between free and paid memberships.

%p
  You should hear from me by the end of the year about all of
  this, but if you want to discuss it sooner, feel free to
  email me at: gregory@practicingruby.com.

%p
  Thank you for your support! Here's to great things in 2016.

%p
  -greg