- content_for(:title)  { "Reactivate your subscription" }
- content_for(:header) { "Reactivate your subscription" }

%p
  You have a Practicing Ruby account, but it's currently disabled. This
  may be because you cancelled your account, or it could be because
  of a failed payment.

%p
  Please #{link_to "reactivate your account", new_subscription_path}
  to continue. If you have any questions, 
  #{ link_to "email us", "mailto:support@elmcitycraftworks.org"}  
  and we'll help you get things sorted out quickly.

%p
  Sorry for the hassle!
