- content_for(:title)  { "Goose Egg!!" }
- content_for(:header) { "Goose Egg!!" }

%p
  It looks like there is a problem with your account.
  This can happen for a few different reasons, but most often this
  means that either your payment has failed, or that you have
  accidentally cancelled your account.

%p
  To to fix this, you can try
  #{link_to "subscribing", new_subscription_path} through our website
  or email #{mail_to "support@elmcitycraftworks.org"} and we will get your
  account all fixed up.

%p Sorry for the hassle. This will be sorted out in a jiffy!
