.bundle
db/*.sqlite3
log/*.log
tmp/
.rvmrc
config/database.yml
config/initializers/mailchimp_settings.rb
config/initializers/omniauth.rb
config/initializers/mail_settings.rb
config/initializers/secret_token.rb
config/initializers/cache_cooker_settings.rb
config/initializers/stripe.rb
lib/development_mail_interceptor.rb
.sass-cache/
public/assets
coverage
.kick
app/documents
.pow*
