.bundle
db/*.sqlite3
log/*.log
tmp/
.rvmrc
config/database.yml
config/initializers/cache_cooker_settings.rb
config/initializers/stripe.rb
config/initializers/mixpanel.rb
lib/development_mail_interceptor.rb
.sass-cache/
public/assets
coverage
.kick
.pow*
.env
