.bundle
db/*.sqlite3
log/*.log
tmp/
.rvmrc
config/database.yml
config/initializers/mailchimp_settings.rb
config/initializers/omniauth.rb
config/initializers/mail_settings.rb
public/stylesheets/compiled/*.css
lib/development_mail_interceptor.rb
.sass-cache/
public/assets