%h1 Articles

%p= link_to "Create Article", new_admin_article_path

%table.admin
  %thead
    %tr
      %th Title
      %th{:colspan => 2}
  %tbody
    - @articles.each do |article|
      %tr{:class => cycle('even','odd')}
        %td= link_to article.subject, edit_admin_article_path(article)
        %td= link_to "Show", article_path(article)
        %td= link_to "Destroy",
          admin_article_path(article),
          :data => { :confirm => "Are you sure you wish to delete this article?" },
          :method  => 'DELETE',
          :class   => "delete"