#article-footer
  - if current_user
    %h3 If you enjoyed this issue of Practicing Ruby, please share it! 

    %p
      Copy-and-paste the link below to give your friends free access to
      this article:

    = text_field_tag :share_link, article_url(@article), :size => 80

    %p
      Although guests will not be able to view conversations
      via these share links, they will be able to read the full article 
      without signing up for a Practicing Ruby subscription.

    %p
      We believe sharing is caring, so feel free to post these links anywhere you'd like.
