#article-footer
  .right
    = link_to @article.volume.icon, @article.volume.path,
      :rel => "tooltip",
      :title => @article.volume.name
    - if @article.collection
      = link_to @article.collection.icon, @article.collection.path,
        :rel => "tooltip",
        :title => @article.collection.name
  - if current_user
    = link_to "Give your friends free access to this article", '#',
      :'data-share-link' => true,
      :class => "share"