- content_for(:title) do
  #{@article.subject} - Practicing Ruby, #{@article.issue_number}
- content_for(:header) do
  .bigtext{style: 'text-align: center;'}
    %div{:style => "padding-top: 40px; padding-bottom: 40px"}
      = @article.subject
    = image_tag "ruby-divider.png"
