- content_for(:title) { @article.full_subject }
- content_for(:header) do
  .bigtext{style: 'text-align: center;'}
    %div= @article.subject
  = image_tag "ruby-divider.png", :style => "margin: 0.5em auto; display: block;"
