- content_for(:title) { @article.full_subject }
- content_for(:header) do
  .bigtext
    %div= @article.subject

- if current_user && current_user.admin?
  = link_to "Edit", edit_admin_article_path(@article)

