- content_for(:header) { @group.header }
- content_for(:title)  { @group.name   }
- content_for(:admin) do
  = button_to "New article", new_admin_article_path, :method => :get

%p= @group.description

%ul#articles
  - @articles.each do |article|
    %li= article.list_link

%footer= render 'subway'
