- content_for(:title) { "Articles" }
- if params[:new_subscription]
  :coffeescript
    $.facebox '#{escape_javascript render('subscriptions/thanks')}', 'thanks-box'
- content_for(:header) do
  %h1 Practicing Ruby
  %h2 Delightful lessons for dedicated programmers
  = image_tag "ruby-divider.png"

#archives
  = render 'archives'
