- content_for(:title) { "Sharing #{@article.subject}" }

#article
  %h1 Sharing #{@article.subject}

  %p
    As a subscriber to Practicing Ruby, you are free to share our articles with your
    friends. The link below will allow non-subscribers to view this issue.

  %p.bold= shared_article_url(@share.secret)

  %p
    Feel free to email this link, post it to a mailing list, tweet it, or otherwise
    distribute it any way you want. Sharing is caring!
  %p
    Be sure to note that when someone views a Practicing Ruby article via
    a share link you created, your github username will be displayed at the
    top of the page so that they know who to thank! Of course, no one except
    those who receive your link will know about your act of kindness, so
    those who prefer to keep a gruff public persona can still use this
    feature in private.

  = link_to "&larr; back to the article".html_safe, article_path(@article)