- content_for(:title) { @subject }

#article
  %h1
    = @article.subject
    = link_to share_article_path(@article), :id => "share" do
      = image_tag "share.png"
      Share
    .clear

  = md(@article.body)
