#announcements
  .announcement
    margin: 1em 0
    font-family: 'Helvetica', sans-serif
    p
      font-family: 'Helvetica', sans-serif
    .title
      font-size: 1.1em
      font-weight: bold
      padding: 0.5em
      background-color: #eee
      .on
        display: inline-block
        float: right
        color: #555
        font-weight: normal
      a
        color: #000
    li
      margin-bottom: 0.5em
      line-height: 1.3em
      font-family: 'Helvetica', sans-serif