#article_bar
  margin: 1em 0
  font-family: 'Helvetica', sans-serif
  padding-bottom: 0.8em
  border-bottom: 3px solid #eee
  font-weight: bold
  font-size: 1.25em
  .right
    font-weight: normal
    float: right