- content_for(:title) { "Registration Complete" }
- content_for(:header) { "You're done. Thanks for subscribing!" }

%p.image= image_tag "dolla_billz.jpg"

%p Your account is now set up, which means that you can enjoy everything that Practicing Ruby has to offer. You can start by #{link_to 'browsing through our library', library_path} or reading a #{link_to 'randomly selected article', random_article_path}. If you have any questions, please send an email to #{link_to 'gregory@practicingruby.com', 'mailto:gregory@practicingruby.com'}.