- content_for(:header) { "Payment" }
- content_for(:title) { "Payment" }

%p Right now Practicing Ruby is transitioning payment providers. So what does that mean for you?

%p Until we are ready to make the switch, you get access to the full site free of charge. Once we start accepting payments again, we'll ask you to enter your payment information to continue using the service, but you won't be charged for accessing our content between now and then. Not a bad deal, right?

%p Your account is now set up, which means that you can enjoy everything that Practicing Ruby has to offer. You can start by #{link_to 'browsing through our library', library_path} or reading a #{link_to 'randomly selected article', random_article_path}. If you have any questions, please send an email to #{link_to 'gregory@practicingruby.com', 'mailto:gregory@practicingruby.com'}.
