- content_for(:header) { "Payment" }
- content_for(:title) { "Payment" }

%p Right now Practicing Ruby is transitioning payment providers. So what does that mean for you?

%p Until we are ready to make the switch, you get full access to the full site free of charge. Once we are ready to begin accepting payments again, we'll ask you to give us your payment information but won't retroactively charge your account. Cool right?

%p So that means your account is setup and ready to go. If you don't know where to start, might we suggest you browse the #{link_to 'library', library_path} page or perhaps enjoy a fresh #{link_to 'randomly selected article', random_article_path}.