- content_for(:header) { "Registration" }
- content_for(:title) { "Registration" }

Fantastic! We've sent a confirmation email to
%strong #{@user.contact_email}.
Check your
email and click the link to continue setting up your account.

If you don't receive that email within a few minutes you can always
= link_to "go back", registration_edit_profile_path
and try again.
