div#content {
  margin:0 auto;
  width:800px;
}

div#content p {
  font-family: courier;
  font-size: 0.9em;
  text-align: justify;
  line-height: 1.5em;
}

div#article p {
  font-family: sans;
  font-size: 1.1em;
}

div#article h1, h2, h3 {
  font-family: courier;
}

div#footer p {
  text-align: right;
  font-size: 0.8em;
}
