div#content {
  margin:0 auto;
  width:800px;
}

div#content p {
  font-family: courier;
  font-size: 0.9em;
  text-align: justify;
  line-height: 1.5em;
}

div#article p, div#article li {
  font-family: sans-serif;
  font-size: 1.1em;
}

div#article li{
  margin-bottom: 0.5em;
  line-height: 1.3em;
}

div#article h1, h2, h3 {
  font-family: courier;
}

div#article h1 {
  font-size: 1.6em;
}

div#article h1 .clear {
  clear: both;
}

div#article h1 a#share {
  float: right;
  font-size: 0.75em;
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
  padding: 0.5em;
  border: 1px solid #aaa;
  color: #333;
}

div#article h1 a#share:hover {
  background-color: #eee;
  border-color: #333;
}
div#article h1 a#share img { height: 16px; width: 16px; }

div#article #share_alert {
  padding: 1em;
  background-color: #CBF5D0;
  border: 3px solid #252;
  color: #252;
  font-size: 1.1em;
  font-family: sans-serif;
  text-align: justify;
  line-height: 1.3em;
}

div#article #share_alert a {
  color: #428528;
  font-weight: bold;
}
div#article #share_alert a:visited {
  color: #428528;
}

div#footer p {
  text-align: right;
  font-size: 0.8em;
}

.left { text-align: left; }

/* Navigation */

#navigation {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding: 0.75em 0;
  margin-bottom: 1em;
}

#navigation a {
  display: inline-block;
  margin-right: 1.5em;
  text-decoration: none;
  color: #222;
  font-family: courier;
}

#navigation a:visited { color: #222; }

#navigation a:hover {
  text-decoration: underline;
  color: #666;
}

#navigation div.right {
  float: right;
}

#navigation div.right a {
  margin-left: 1.5em;
  margin-right: 0;
}

#navigation div.clear {
  clear: right;
}