#settings-sidebar
  = link_to "Account", account_settings_path,
    class: ('active' if current == 'account')
  = link_to "Notifications", notification_settings_path,
    class: ('active' if current == 'notifications')
  = link_to "Billing", billing_settings_path,
    class: ('active' if current == 'billing')
