- content_for(:title) { "Sorry to see you go"}
- content_for(:header) { "Sorry to see you go" }

%h3
  Please feel free to email #{mail_to "gregory@practicingruby.com"} with
  feedback.
%p
  And remember it may take up to 24 hours before your account is fully canceled.

= image_tag "sad_pinkie.png", :class => "sad_pinkie",
  :title => "Sad Pinkie: http://regolithx.deviantart.com/art/Sad-Pinkie-Pie-Vector-285845297"
// Image Credit: http://regolithx.deviantart.com/art/Sad-Pinkie-Pie-Vector-285845297