= link_to "http://elmcitycraftworks.org",
  :title => "an Elm City Craftworks production", :id => "ecc-logo" do
  = image_tag "ecc_logo.png", :alt => "Elm City Craftworks"
  = image_tag "ecc_logo_black.png", :alt => "Elm City Craftworks",
    :class => "black"
