- if current_user
  #navigation
    = link_to "Articles", articles_path
    = link_to "Announcements", announcements_path
    .right
      = link_to "Settings", edit_user_path(current_user)
      = link_to "Log out", logout_path
    .clear
