- if current_user
  #navigation
    %strong FREE:
    = link_to "Volume 1", "/volume/1"
    = link_to "Volume 2", "/volume/2"
    %strong MEMBERS:
    = link_to "Volume 3", "/volume/3"
    .right
      %strong SPECIAL:
      Coming Soon!
    .clear
