= image_tag "sad_pinkie.png", :class => "sad_pinkie",
  :title => "Sad Pinkie: http://regolithx.deviantart.com/art/Sad-Pinkie-Pie-Vector-285845297"
// Image Credit: http://regolithx.deviantart.com/art/Sad-Pinkie-Pie-Vector-285845297
