%header Archives

- @articles.each do |month, articles|
  %h2= month

  %ul
    - articles.each do |article|
      %li
        .title= article.list_link text: article.list_title
        .description= article.short_description
