#chat
  %p
    Get in touch with your fellow Practicing Rubyists!

  = link_to "Chat with a guest account", CHAT_GUEST_URL,
    :class => "btn"
  = link_to "Chat with your Campfire account", CHAT_LOGIN_URL,
    :class => "btn"
  %p
    You can log in as a guest without any extra setup.
    %br
    For transcript access, you need a Campfire account.

  %p
    Email #{mail_to "gregory@practicingruby.com"} for an invite.

