- content_for(:title) { "Contact" }

#contact
  %p
    As Practicing Ruby's editor, its my job to make sure that you have a
    great experience here. I am sure that you will be as happy with
    Practicing Ruby as my son was when he met Santa Claus:

  = image_tag "santa.jpg"

  %p
    But I also believe we can do even better than that.
    If you have a
    question about Practicing Ruby, problems with your account, or anything in
    between don't hesitate to get in touch.
    I can be reached via email at
    #{ mail_to "gregory@practicingruby.com", nil, :encode => "javascript"}
    and on Twitter at
    #{link_to "@practicingruby", "http://twitter.com/practicingruby"}.
  .clear
