- content_for(:header) { "Practicing Ruby / Contact" }
- content_for(:title) { "Contact" }

#contact
  #left
    = image_tag "contact.jpg"
  #right
    No matter what, we are here to help you out. So if you have a
    question about Practicing Ruby, problems with your account, or anything in
    between don't hesitate to drop us a line. We'd love to hear from you.
    Gregory can be reached via email at
    #{ mail_to "gregory@practicingruby.com", nil, :encode => "javascript"}.
    If twitter is more your style then direct your tweets to
    #{link_to "@practicingruby", "http://twitter.com/practicingruby"}.

    %p
      You might also be interested in checking out the
      #{link_to "Elm City Craftworks", "http://elmcitycraftworks.org"} blog.
      Inside, you'll find updates on Practicing Ruby and lessons learned from
      running the business side of things.

  .clear

  %p.footer
    We absolutely love hearing from our subscribers. Please contact us any time!
