#top-bar
  %ul
    %li= link_to "Subscribe", subscribe_path
    %li= link_to "Sign in", login_path

#landing
  #banner
    %h1 Practicing Ruby
    %h2 A unique journal curated by Gregory Brown
    = image_tag "ruby-divider.png"
  #details
    %h3 Get the benefits of research without all the legwork.

    %p
      There is an endless sea of knowledge out there, but navigating
      it can be daunting. Practicing Ruby helps keep its readers on 
      track by focusing on the topics that are highly relevant to most 
      software developers. Our articles are detailed enough for you to 
      really learn something from them, but are still readable 
      in a single sitting. If you get stuck on something, you can
      ask us questions and get speedy, thoughtful replies.

    %h3 Read fantastic content that puts your needs first.

    %p
      Practicing Ruby exists to help you get better at your craft, not  
      to get you to click advertisements or hire us as consultants. With
      that in mind, we don't just write about what is hot and 
      controversial; we focus on the things that will truly make you 
      a better programmer. You will also find that Practicing Ruby articles
      are more polished than the average blog post in pretty much
      every imaginable way.

    %h3 Spend more time on the things that matter to you.

    %p
      Studying programming can be a lot of fun, but it is only a means to 
      an end. To truly master your craft is to make a meaningful impact
      on the world through the software you create. Knowing that, Practicing Ruby
      aims to make it easier for you to develop and maintain projects that solve 
      real problems for real people. Your productivity depends on your ability to
      balance theory and practice, and we can help with that.

  #library
    Does this sound like your kind of thing? If so, please #{link_to "browse through our library", library_path} to see what we’re offering.
