- content_for(:title) { "F/OSS Content and Code" }

#open-source
  %h1 
    Practicing Ruby supports F/OSS, and we're proud of it. 

  %p
    The spirit of community contribution for the public good is 
    baked into everything we do, and most of our own work is freely available to all.

  %h3 Our web application is free software.

  %p
    The web application that powers practicingruby.com is a Rails 3 application
    maintained by Jordan Byron, and is released on GitHub under the 
    GNU Affero GPL license. Mathias Lafeldt has also developed a Chef cookbook that 
    sets up a production-like testbed environment for our web application.
    It is freely available on GitHub, and released under the Apache License.

  %h3 Most of our content is open-access.
  %p
    The source manuscripts for most of our articles have been released 
    on GitHub under the Creative Commons Attribution-Sharealike license.
    By the end of 2014, there will be little or no delay between the time
    that an article gets published on practicingruby.com and the time
    it shows up on GitHub as free documentation.

  %h3 Our code samples are freely available.
  %p
    Although we haven't done a very good job organizing these materials, the majority of the 
    code samples and example projects we use in our articles are also available on GitHub.
    Unless otherwise noted, you are free to use any of these resources however you'd like,
    without restriction. Attribution is encouraged, but not required.

  %p
    We know that we could do a much better job of organizing these materials
    and clarifying their licensing terms, but until we do, feel free to contact 
    us if you have any questions about your use of Practicing Ruby's code samples.

  %h3 We also work on other F/OSS projects.

  %p
    We don't just produce educational materials, we also work on projects that
    directly help people, both programmers and non-programmers alike. Gregory
    Brown maintains the Prawn PDF Toolkit for Ruby, and 
    Jordan Byron developed a clinic management system to support the Mission of Mercy
    charity organization.


  %h3 We hope you'll support our work. 

  %p 
    Here are three ways to help out if you want us to keep doing what we're doing: 

  %ul
    %li 
      Submit pull requests or bug reports to one of our projects. Whether
      you found a mistake in an article, or want to add a new feature to
      the web application, patches are welcome!

    %li
      Become a Practicing Ruby subscriber and/or encourage others to
      sign up for a paid subscription. The money we get from Practicing Ruby
      supports our continued work on the project. Every subscription counts, 
      so please don't hesitate if you are thinking about signing up.

    %li
      Send us constructive feedback and/or spread the word about our projects.
      Telling us we're doing wrong and telling the world what we're 
      doing right is easy to do, and it helps us tremendously. 


  %p
    Thanks for your interest, and happy hacking! Please contact us if you have any questions.

  = image_tag "ruby-divider.png"

