- content_for(:title) { "Practicing Ruby | Delightful lessons for dedicated programmers" }
- content_for :header do
  %h1 Practicing Ruby
  %h2 Delightful lessons for dedicated programmers

  = image_tag "ruby-divider.png"


#archives
  #share-alert
    Our complete archives have
    been released under the Creative Commons BY-SA license. 
    %br
    If you enjoy our articles,
    = link_to "please support our ongoing work on this project.",
      about_path


  = render 'articles/archives'
