- content_for(:title) { "Practicing Ruby | Delightful lessons for dedicated programmers" }
- content_for :header do
  %h1 Practicing Ruby
  %h2 Delightful lessons for dedicated programmers

  = image_tag "ruby-divider.png"

#archives
  = render 'articles/archives'
