- content_for(:header) { "Become a Practicing Ruby subscriber" }
- content_for(:title) { "Subscribe" }

#subscribe
  #left
    %p
      So you've checked out some of our
      #{link_to "sample articles", sample_articles_path}
      and are ready to join Practicing Ruby?
      That's awesome! Here's what you'll
      get as a subscriber:

    %ul
      %li Immediate access to all our articles.
      %li Fresh content every two weeks.
      %li Conversations with Practicing Rubyists.

    %p
      By signing up, you'll also be supporting
      an independent publishing effort that is
      100% reader-funded, and 100% reader-focused.

    %p
      Here is what is going to happen next. Click
      "Let's get started" and we will redirect you to
      GitHub for authorization. From there we will ask you
      to confirm your email, then get us payment information.

    .subscribe
      = button_to "Let's get started &raquo;".html_safe, registration_path,
        :method => :get

  #right
    = image_tag "preview.png", :id => "preview"
