%img{:src => "/images/robo-banner.png"}
  %p 
    I am working hard on putting together some community features for this application, including archive support and a comment system. 
    Expect to see at least some new things to play with here by Friday 2011-08-26.

  %p 
    For now, please just check out my
    %a{:href => "/community/welcome"} welcome message to new subscribers
    so that you know what to expect from this newsletter. You can also
    catch up with me and other subscribers via the #practicingruby channel
    on Freenode to discuss the first article as well as the service in
    general. The password for that channel is carnegiehall.

  %p
    If you'd prefer to contact me in private, please send any questions,
    thoughts, or suggestions to gregory.t.brown@gmail.com. I want to make
    this service as awesome as possible, so I look forward to your feedback!
