%img{:src => "/images/robo-banner.png"}
  %p 
    I am working hard on putting together some community features for this application, including archive support, a comment system, and a way to share the articles with your friends. A  
    %a{:href => "/articles"} basic archive 
    is already implemented, but the rest of the work will take me at least a few more days. Expect to see most of the essential features built by the end of August.
  %p 
    If you are a new subscriber, please just check out my
    %a{:href => "/community/welcome"} welcome message to new subscribers
    so that you know what to expect from this newsletter. You can also
    catch up with me and other subscribers via the #practicingruby channel
    on Freenode to discuss the first article as well as the service in
    general. The password for that channel is carnegiehall.

  %p
    If you'd prefer to contact me in private, please send any questions,
    thoughts, or suggestions to gregory.t.brown@gmail.com. I want to make
    this service as awesome as possible, so I look forward to your feedback!
