%img{:src => "/images/robo-banner.png"}
  %p 
    Thank you for subscribing to Practicing Ruby! As a new subscriber, 
    you might be wondering how this newsletter works and what you can
    expect from it. I've jotted down some notes here to answer those
    questions.

  %p 
    %b New articles will be released every Tuesday.
    The exact time they get released may vary, but I will aim for between 16:00 UTC and 20:00 UTC.

  %p 
    %b There will be archives of all back issues.
    Right now I am working on building out this site, and that is one of 
    the top priority features. I expect to have archives implemented
    by the end of August. I think that newsletters that charge per-issue 
    for backlog access are just being greedy, so as long as you're a paying subscriber, 
    your access to the archives will always be available at no additional charge.

  %p
    %b There will be community discussion features 
    so that you can share your thoughts and questions about the articles with me 
    and other subscribers. Currently I'm working on building a simple comment system
    for the archives, but if that proves to be too limited, I will set up a mailing
    list. You can also join the #practicingruby channel on Freenode. The password for
    that channel is carnegiehall.

  %p
    %b The emails will be sent as plain-text for now.
    This means that to see the code samples formatted correctly, you should view the 
    articles using a fixed width font, or view them via the online archives once 
    they are available. I am open to the idea of setting up HTML emails, so let me
    know if that's what you would prefer.

  %p
    %b All articles will use the latest stable release of MRI, unless otherwise noted.
    At the time of writing (2011-08-23), that is Ruby 1.9.2. That having been said, most of the content 
    will be relevant regardless of what Ruby version or implementation you are using day
    to day.

  %p
    %b If you are unhappy with Practicing Ruby in any way 
    you can cancel your account and I'll provide a refund for your 
    current month upon request.

  %p 
    %i
      This newsletter is something that I really care a lot about, and I want to make an
      awesome service for my readers. If you have any questions, thoughts, or suggestions,
      don't hesitate to contact me at gregory.t.brown@gmail.com
