%h1 Announcements

%p= link_to "Create Announcement", new_admin_announcement_path

%table.admin
  %thead
    %tr
      %th Title
      %th Author
      %th{:colspan => 2}
  %tbody
    - @announcements.each do |announcement|
      %tr{:class => cycle('even','odd')}
        %td= link_to announcement.title, edit_admin_announcement_path(announcement)
        %td= announcement.author.try(:name)
        %td.action= link_to "Destroy",
          admin_announcement_path(announcement),
          :data => { :confirm => "Are you sure you wish to delete this announcement?"} ,
          :method  => 'DELETE',
          :class   => "delete"