- content_for(:header) { "New Announcement" }

= form_for @announcement, :url => admin_announcements_path,
  :html => { :'data-track-changes' => true } do |f|
  = render :partial => "form", :locals => {:f => f}