%h1 You're awesome. Thanks for subscribing!

%p.image= image_tag "payment/dolla_billz.jpg"

%p
  Your account is now set up, which means that you can enjoy everything that
  Practicing Ruby has to offer. You can start by
  #{link_to 'browsing through our library', articles_path} or reading a
  #{link_to 'randomly selected article', random_article_path}.
  If you have any questions, please send an email to
  #{mail_to 'gregory@practicingruby.com'}.
