- content_for(:title) { "Subscribe" }
- content_for :header_bottom do
  = javascript_include_tag "https://js.stripe.com/v1/"
  :coffeescript
    $ -> new PR.PaymentProcessor('#{STRIPE_PUBLISHABLE_KEY}')

%h1
  Direct subscriptions to Practicing Ruby are no longer available

%p
  If you'd like to support Practicing Ruby and get early access to
  its articles, join 
  = link_to "The Practicing Developer's Workshop.", "http://practicingdeveloper.com/workshop"

%p
  Any questions? Email gregory at practicingruby.com