
%div{:style => "text-align: center"} 
  %p{:style => "text-align: center; font-size: 1.2em;"}
    %strong
      For only $8/month, you can help us educate Ruby programmers worldwide.

  = button_to "Become a Practicing Ruby subscriber", login_path, :method => :get, 
              :id => "subscribe"

  %p{:style => "text-align: center"}
    We use Github for authentication and Stripe.js for payment processing.
    To keep your sensitive information safe, we do not store any passwords 
    or payment information on our servers.
  
  %p{:style => "text-align: center"}
    = link_to "Why should I subscribe to Practicing Ruby?", about_path
