table#reports
  margin: 1em 0
  border-color: #600
  border-width: 0 0 1px 1px
  border-style: solid
  td, th
    padding: 4px
    border-color: #600
    border-width: 1px 1px 0 0
    border-style: solid
    margin: 0
    background-color: #FFC
    &.num
      text-align: right
  th
    color: #000