table#reports
  margin: 1em 0
  border-color: #600
  border-width: 0 0 1px 1px
  border-style: solid
  td, th
    padding: 4px
    border-color: #600
    border-width: 1px 1px 0 0
    border-style: solid
    margin: 0
    background-color: #FFC
    &.num
      text-align: right
  th
    color: #000

#control-bar
  position: fixed
  bottom: 0
  left: 0
  right: 0
  width: 100%
  padding: 5px
  background-color: #eee
  +single-box-shadow(#777, 0, 0, 2px)

  .content
    width: 750px
    margin: 0 auto
.control-bar-padding
  height: 50px
