ul#articles
  margin: 1.5em 0
  li
    margin: 0.75em 0
    border-bottom: 1px solid rgba(76, 85, 102, 0.2)
    font-size: 1.1em
    +single-transition(border-color, 0.25s)
    &:hover
      border-color: rgba(76, 85, 102, 0.7)
    a
      text-decoration: none
      display: block
      color: $dark-blue
      span.right
        float: right