#article_bar
  margin: 1em 0
  font-family: 'Helvetica', sans-serif
  padding-bottom: 0.8em
  border-bottom: 3px solid #eee
  font-weight: bold
  font-size: 1.25em
  .right
    font-weight: normal
    float: right

#article
  ul.index a
    color: #000
    &:visited
      color: #000

  #share_alert
    padding: 1em
    background-color: #CBF5D0
    border: 1px solid #252
    color: #252
    font-size: 1.1em
    font-family: 'Helvetica', sans-serif
    text-align: justify
    line-height: 1.3em
    +border-radius(10px)
    +single-box-shadow(#333, 0, 0, 5px)
    margin: 1.5em 0
    a
      color: #428528
      font-weight: bold
      &:visited
        color: #428528