#broadcasts
  .broadcast
    padding: 0.5em
    padding-left: 60px
    background-color: #DCF7DD
    border: 1px solid #BBD2BC
    margin: 1em 0
    background-image: asset-url("announcement.png", image)
    background-repeat: no-repeat
    background-position: 5px 0
    a
      color: #333
      font-family: 'Helvetica', sans-serif
