#comments
  h3.new-comment
    border-bottom: none
  .comment
    border: 0.5em solid #eee
    margin: 1em 0
    .header
      padding: 0.5em
      font-family: sans-serif
      background-color: #eee
      color: #333
      a
        color: #222
        display: inline-block
        margin-top: 5px
      img
        float: left
        margin: -0.5em 10px 0 -0.5em

      .on
        display: inline-block
        float: right
        padding-top: 5px
        margin-left: 5px
        color: #888
        font-size: 0.9em
      .controls
        float: right
        display: inline-block
        margin-left: 5px
        a
          display: inline-block
          margin-left: 5px
          margin-top: 5px
          color: #555
    .content
      padding: 0.5em
      p
        text-align: left
    .markdown-preview
      ul.tabs
        margin-top: 0
      div.tab-container
        border: none
        margin-bottom: 0
