#flash
  width: $page-width
  margin: 0 auto
  text-align: center
  font-family: 'Helvetica', sans-serif
  .flash
    text-align: center
    padding: 0.5em 1em
    margin: 0.5em
    display: inline-block
    +border-radius(2px)
    background-color: #FAFAE2

    &.notice
      background-color: #8c8
      color: #252

    &.error
      background-color: #c88
      color: #522
