@font-face
  font-family: 'Sketchy'
  src: url('/fonts/sketchy-webfont.eot')
  src: url('/fonts/sketchy-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/sketchy-webfont.ttf') format('truetype'), url('/fonts/sketchy-webfont.svg#SketchyMedium') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Intro Inline'
  src: url('/fonts/intro_inline.eot')
  src: url('/fonts/intro_inline.eot?#iefix') format('embedded-opentype'), url('/fonts/intro_inline.woff') format('woff'), url('/fonts/intro_inline.ttf') format('truetype')
  font-weight: normal
  font-style: normal

// TODO: Include Roadgeek font