form
  input[type=submit]
    +classy-button

#admin
  font-size: 0.4em
  float: right

form.edit_authorization_link
  input[type=email]
    font-size: 1.25em
    padding: 3px 5px
    font-family: 'Folks', sans-serif
    vertical-align: middle
    width: 350px
    margin-right: 0.5em