form
  input[type=submit]
    +classy-button

#errorExplanation
  margin: 1em 0
  padding: 1em
  background-color: rgba(204, 136, 136, 0.45)
  +border-radius(3px)
  h2
    color: #333
    font-size: 1.25em
  p
    color: #9E4040
  ul
    list-style-type: disc
    margin-left: 2em
    li
      color: #522

ul.parsley-error-list li
  color: #9E4040
  font-size: 0.75em
  margin: 5px 0

input.parsley-error
  border: 1px solid #9E4040 !important

div.field_with_errors
  display: inline-block
  color: #522
  input
    border: 1px solid #522

#admin
  font-size: 0.4em
  float: right

form.edit_authorization_link
  input[type=email]
    font-size: 1.25em
    padding: 3px 5px
    font-family: 'Folks', sans-serif
    vertical-align: middle
    width: 350px
    margin-right: 0.5em

form.broadcast-mailer
  input[type=text]
    width: 400px
    font-size: 1.1em
  textarea
    font-family: "Inconsolata", monospace
    font-size: 0.9em
    min-height: 100px
