$page-width: 750px

html
  font-size: 100%
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  overflow-y: scroll
  margin: 0
  padding: 0

::-moz-selection, ::selection
  background: #A0BDC8
  text-shadow: none

article, aside, details, figure, footer, header, nav, section, summary
  display: block

body
  margin: 0
  padding: 0
  font-size: 1em
  line-height: 1.4
  background: #f9f9f9
  font-family: 'Folks', sans-serif
  color: $dark-blue
  letter-spacing: 0.04em

  header, #content
    width: $page-width
    margin: 0 auto
  header
    margin: 0.5em auto
    font-size: 3em
    line-height: 48px
    i
      color: #ccc
    span.logo
      color: #555
      a
        text-decoration: none
        color: #555
    .volume, .collection
      span.icon
        +group-icon(48px)
        vertical-align: top
        margin-right: 0.25em
    .collection
      color: $red
      span.icon
        background-color: $red
    .volume
      span.icon
        font-size: 0.75em
        background-color: $dark-blue
        color: #fff
  footer
    clear: both
    text-align: center
    padding: 20px
    a#ecc-logo
      position: relative
      width: 246px
      height: 165px
      display: block
      margin: 0 auto
      img
        position: absolute
        left: 0
        top: 0
        +single-transition(opacity, 0.5s, ease-in-out)
        &.black
          opacity: 0
      &:hover img.black
        opacity: 1
  p
    margin: 1em 0
    text-align: justify

  a
    color: #1b1b1b
    font-weight: bold

  h3
    font-size: 1.5em

  strong
    color: #000

  hr
    background-color: #ddd
    color: #ddd
    border: none
    height: 1px

  a.btn
    +classy-button
    text-decoration: none
