#library
  #collections, #volumes
    width: $page-width / 2
    float: left
  .clear
    clear: left
  .collection, .volume
    text-decoration: none
    $sb-padding: 0.3em 0.5em
    +sassy-button("matte", 5px, 1.25em, #EEEEEE, #EEEEEE, $dark-blue, "inset")
    margin: 0.5em 0
    width: 350px
    span.icon
      +group-icon
  .collection
    color: $red
    span.icon
      background: $red
  .volume
    float: right
    color: $dark-blue
    span.icon
      background: $dark-blue