$dark-blue: #454C56
$light-blue: #73829E
$red: #B03C2E
$green: #3D6E3C

=two-panel
  #left, #right
    float: left
  #right
    width: $page-width * 0.60
    text-align: right
  #left
    width: $page-width * 0.40
  .clear
    clear: left

=group-icon($size: 32px)
  text-shadow: none
  color: #fff
  height: $size
  width: $size
  display: inline-block
  line-height: $size
  text-align: center
  +border-radius($size)
  margin-right: 0.5em
  vertical-align: middle
  img
    display: inline
    height: $size
    width: $size
  &.collection
    background-color: $red
  &.volume
    background-color: $dark-blue

=markdown
  b, strong
    font-weight: bold
  i, em
    font-style: italic
  p
    font-family: sans-serif
    letter-spacing: normal
    text-align: justify
    color: #252526
    &.bold
      font-weight: bold

  ul, ol
    margin-left: 1em
    li
      font-family: sans-serif
      letter-spacing: normal
      margin-bottom: 0.5em
      line-height: 1.3em
      color: #000
  ul
    list-style: disc outside none
    margin-left: 1.5em
  ol
    list-style: decimal outside none
    margin-left: 2em

  h2, h3, h4
    font-size: 1.5em
    font-weight: normal
    border-bottom: #ddd 1px solid
    padding-bottom: 5px
    margin: 1em 0

  h1 .clear
    clear: both

  pre
    font-family: "Inconsolata", monospace
    letter-spacing: normal
    font-size: 0.85em
    background: #fff
    padding: 1em
    margin: 1em 0
    border: 1px solid #ddd
    +border-radius(4px)
    code
      padding: 0
      font-size: 1em
      background-color: inherit
      border: none

  code
    font-family: "Inconsolata", monospace
    letter-spacing: normal
    background-color: #fff
    color: #333
    padding: 2px 5px
    font-size: 0.9em
    +border-radius(3px)
    border: 1px solid #ddd
  blockquote
    p
      color: #777
    border-left: 4px solid #999
    margin: 0
    padding-left: 1em

  img, iframe
    +image-box
    margin: 0 auto
    display: block
    max-width: 740px
    &.emoji
      padding: 0
      border: none
      +single-box-shadow(none)
      display: inline
      margin: 0
      background-color: inherit
  a.mention
    text-decoration: none
    color: #000
    font-weight: bold
    font-size: 0.9em
    &:hover
      text-decoration: underline

=image-box
  background: #fff
  padding: 5px
  +single-box-shadow(#777, 0, 0, 3px, 0, true)
  +border-radius(4px)

=blue-button
  +sassy-button("matte", 5px, 1em, $light-blue, #63728E, #fff, "inset")
  font-family: sans-serif

=money-button
  +sassy-button("matte", 5px, 1em, $red, #A02C1E, #fff, "inset")
  font-family: sans-serif

=green-button
  +sassy-button("matte", 5px, 1em, $green, #365336, #fff, "inset")
  font-family: sans-serif
=classy-button
  +sassy-button("matte", 5px, 1em, #f9f9f9, #d9d9d9, #333, "inset")
  font-family: sans-serif

  &:disabled
    color: #6E6E6E
