#navigation
  border-top: 1px solid #bbb
  border-bottom: 1px solid #bbb
  padding: 0.75em 0
  margin-bottom: 1em

  a
    display: inline-block
    margin-right: 1.5em
    text-decoration: none
    color: #222
    font-family: $display-font
    //font-size: 1.25em

    &:visited
      color: #222
    &:hover
      text-decoration: underline
      color: #666

  div.right
    float: right
    a
      margin-left: 1.5em
      margin-right: 0

  div.clear
    clear: right
