$robobar-height: 45px

#chippy
  +opacity(0.5)
  +border-top-radius(5px)
  +single-box-shadow(#333, 0, 0, 5px)
  +single-transition(all, .15s, ease-in, 0)
  position: fixed
  bottom: 0
  right: 20px
  height: $robobar-height
  width: 65px
  background: #8cbe5f asset-url("tinyrobo.png", image) center 8px no-repeat
  cursor: pointer
  z-index: 100

  &:hover, &.active
    +opacity(1)
    +single-box-shadow(#333, 0, 0, 10px)
    height: $robobar-height + 5px

  &.active
    height: 85px
    background-color: #CCC9D1
    &:hover
      background-color: #E2E1E9

#robo-bar
  +background-image(linear-gradient(#E2E1E9, #CCC9D1))
  +single-box-shadow(#333, 0, 0, 10px)
  +single-transition(all, .15s, ease-in, 0)
  position: fixed
  bottom: -$robobar-height
  height: $robobar-height
  width: 100%

  button
    +sassy-button-structure(5px, 14px)
    +sassy-button-gradient("matte", #8cbe5f)
    margin: 6px

// Ensures all content is visible when RoboBar is visible
#robo-bar-gutter
  height: $robobar-height
  width: 100%