#sample-articles
  .box
    display: block
    width: ($page-width / 2) - 15px
    float: left
    text-decoration: none
    margin-bottom: 24px
    &.left
      margin-left: 30px
    .inner
      +sassy-button("matte", 5px, 1em, #e9e9e9, #d9d9d9, #333, "inset")
      font-family: inherit
      padding: 1em
      margin-left: 0
      text-align: center
      display: block
      .title
        color: $red
        font-size: 1.5em
        margin: 1em 0
      .article
        color: #000
        margin: 1em 0
      span.icon
        margin-top: 1em
        +group-icon(100px)