#sample-articles
  .box
    display: block
    width: $page-width / 2
    float: left
    text-decoration: none
    .inner
      +background-image(linear-gradient(#e9e9e9, #d9d9d9))
      +border-radius(4px)
      +single-box-shadow(#333, 0, 0, 3px)
      padding: 1em
      margin: 1em
      text-align: center
      &:hover
        +background-image(linear-gradient(#d9d9d9, #c9c9c9))
      .title
        color: $red
        font-size: 1.5em
        margin: 1em 0
      .article
        color: #000
        margin: 1em 0
      span.icon
        margin-top: 1em
        +group-icon(100px)