form.edit_user
  .field
    margin-bottom: 0.5em
    label
      font-size: 1.1em
      margin-right: 5px
    input[type=text]
      padding: 2px 4px
      font-size: 1.1em
      margin: 2px
      color:  #333
  a#cancel
    margin-left: 2em

img.sad_pinkie
  width: 600px
  margin: 2em 0
  display: block