form.edit_user
  .field
    margin-bottom: 5px
    label
      font-size: 1.1em
      margin-right: 5px
    input[type=text]
      padding: 2px 4px
      font-size: 1.1em
      margin: 2px
      color:  #333
  input[type="checkbox"]
    margin-right: 10px
  a#cancel
    float: right
    line-height: 36px
  span.cancel-notice
    float: right
    clear: right
  p#gravatar
    img
      +image-box
      vertical-align: middle
      margin-right: 10px
      padding: 3px
    a
      line-height: 38px
  .info
    color: #888
    font-style: italic

.setting-panel
  margin: 1em 0
  float: left
  width: 537px
  padding: 20px
  border: 2px solid #ccc
  +border-radius(3px)
  background: #fff
  +single-box-shadow(#d6d6d6, 0, 0, 4px, false, true)
  #errorExplanation
    margin-top: 0

#billing-settings
  p
    text-align: left
  h2
    font-size: 1.5em
    color: #777
  a.btn
    +classy-button
    text-decoration: none
    &.btn-small
      font-size: 0.75em
  table
    margin: 1em 0
    font-family: Helvetica, sans-serif
  #update-credit-card, #confirm-interval-change
    display: none
  a.current-cc
    margin-left: 10px
  #current-credit-card
    font-family: Helvetica, sans-serif
    margin-top: 4px
    font-size: 0.9em
    float: right
  #change-billing-interval
    margin-top: 3px
#facebox
  .update-credit-card, .current-credit-card
    h1
      font-size: 2em

  .confirm-interval-change.content
    font-family: Helvetica, sans-serif
    font-size: 14px
    padding: 20px
    h1
      font-size: 16px
      color: #333
      font-weight: bold
    a.btn
      +green-button
      text-decoration: none
      width: 100%
      text-align: center
      box-sizing: border-box

    .loading
      padding: 10px 0

img.sad_pinkie
  width: 600px
  margin: 2em 0
  display: block

#settings-sidebar
  margin: 1em 0
  width: 125px
  border: 2px solid #ccc
  border-bottom: 1px solid #ccc
  +border-radius(3px)
  background-color: #fff
  float: left
  margin-right: 40px
  a
    display: block
    padding: 5px 10px
    text-decoration: none
    color: $dark-blue
    border-bottom: 1px solid #ccc
    &:hover
      background: rgba(95, 95, 95, 0.15)
      border-color: rgba(95, 95, 95, 0.15)
    &.active
      background: rgba(95, 95, 95, 0.15)
      color: #111
      &:hover
        cursor: default
