#share-alert
  font-family: sans-serif
  background-color: #FAFAE2
  border: 1px dashed #AE9331
  font-size: 0.9em
  color: #333
  text-align: center
  margin: 10px auto
  padding: 1em 0.5em
  +border-radius(4px)
  a
    color: #000

#share-banner
  background-color: #FAFAE2
  +single-box-shadow(#333, 0, 0, 2px)
  font-size: 0.9em
  color: #333
  text-align: center
  padding: 1em 0.5em
  a
    color: #000
