#subscribe
  +two-panel
  #left
    .subscribe form div
      text-align: center
      input
        +money-button
        font-size: 1.25em
    #price
      p
        text-align: center
        font-size: 0.9em
        font-weight: bold
  #right
    margin-top: 1.5em
  #preview
    +image-box
    width: 90%
  ul
    list-style: disc outside none
    margin-left: 1em
