%img{:src => "/images/robo-banner.png"}

%p
  Sorry, we couldn't find a matching subscription for
  = "#{@email}."

%p
  = link_to("Please try again with a different email address", @authorization_link)
  or email gregory.t.brown@gmail.com if you are having problems.
  
