- content_for(:header) { "You're almost done ..." }

%p
  We sent a confirmation email to
  %strong= @authorization_link.mailchimp_email
  that will allow you to link your subscription
  information to the github nickname you provided:
  %strong= @authorization_link.github_nickname

%p
  Please click the link in that email to complete your registration.
  If you have any problems, don't hesitate to contact
  #{mail_to "support@elmcitycraftworks.org"}.
