@import "compass/reset"
@import "blueprint/grid"
@import "compass/css3/images"
@import "compass/css3/border-radius"

@font-face
  font-family: 'Sketchy'
  src: url('/fonts/sketchy-webfont.eot')
  src: url('/fonts/sketchy-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/sketchy-webfont.woff') format('woff'), url('/fonts/sketchy-webfont.ttf') format('truetype'), url('/fonts/sketchy-webfont.svg#SketchyMedium') format('svg')
  font-weight: normal
  font-style: normal

body.landing
  background-color: #f9f9f9
  a
    color: #800F0E
    &:hover
      color: #B91613

  .container
    margin: 0 auto
    width: 970px
    position: relative
  #header
    padding-top: 50px
    text-align: left
    border-bottom: 10px solid #7E3F23
    //background-image: asset-url("landing-header.png", image)
    background-color: #215742
    #robot
      width: 500px
      height: 381px
      display: inline-block
      background-image: asset-url("robo-landing-scruff.png", image)
      margin-bottom: -3px
    #title
      color: #ddd
      font-family: "Sketchy"
      position: absolute
      bottom: 70px
      right: 0px
      font-size: 90px
      line-height: 1.25em
      text-align: center

  #content
    font-size: 13px
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif
    margin-top: 40px
    .container
      +container
    #main
      +column(14)
      +append(1)
      h2
        font-size: 20px
        margin-bottom: 1em
      p
        margin: 1em 0
        line-height: 20px
        text-align: justify
    #sidebar
      +column(9, true)

      #sign-up
        padding: 1.5em
        color: #eee
        +background-image(linear-gradient(#B91613, #800F0E))
        +border-radius(10px)
        text-align: center
        label
          font-size: 20px
          margin-bottom: 1em
          display: block
        #mce-EMAIL, #mc-embedded-subscribe
          font-size: 16px
      #existing-subscribers
        margin-top: 1em
        text-align: center