@import "compass/reset"
@import "blueprint/grid"
@import "compass/css3/images"
@import "compass/css3/border-radius"
@import "partials/fonts"

body.landing
  background-color: #f9f9f9
  a
    color: #800F0E
    &:hover
      color: #B91613

  .container
    margin: 0 auto
    width: 970px
    position: relative
  #header
    padding-top: 50px
    text-align: left
    border-bottom: 10px solid #14372A
    background-color: #215742
    #robot
      width: 500px
      height: 345px
      display: inline-block
      background-image: asset-url("robo-landing.png", image)
      margin-bottom: -3px
    #title
      color: #ddd
      font-family: "Sketchy"
      position: absolute
      bottom: 70px
      right: 0px
      font-size: 90px
      line-height: 1.25em
      text-align: center

  #content
    font-size: 13px
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif
    margin-top: 40px
    .container
      +container
    #abstract
      +column(24, true)
      font-size: 20px
      margin-bottom: 1em

    #main
      +column(14)
      +append(1)
      p
        margin-bottom: 1em
        line-height: 20px
        text-align: justify
        a
          color: #111
          text-decoration: none
          &:hover
            text-decoration: underline
            color: #000
    #sidebar
      +column(9, true)

      #sign-up
        padding: 1.5em
        color: #fff
        +background-image(linear-gradient(#2D74BA, #1E4C78))
        +border-radius(10px)
        text-align: center
        label
          font-size: 20px
          margin-bottom: 1em
          display: block
        #mce-EMAIL, #mc-embedded-subscribe
          font-size: 16px
        #mce-EMAIL
          width: 175px
      #existing-subscribers
        margin-top: 1.5em
        text-align: center
      #recent-topics
        margin-top: 2em
        text-align: center
        h3
          line-height: 1.3em
          padding: 1em
          +border-top-radius(10px)
          background-color: #318364
          color: #fff
          img
            vertical-align: bottom
            margin-right: 0.5em
        ul
          padding: 1em
          padding-bottom: 3em
          background-color: #D9FFDF
          +background-image(linear-gradient(#D9FFDF, #f9f9f9))
          li
            margin-bottom: 0.5em