@import compass/reset
@import blueprint/grid
@import compass/css3/images
@import compass/css3/border-radius
@import compass/css3/box-shadow
@import compass/css3/text-shadow
@import partials/fonts

$landing-dark-blue: #454C56
$landing-light-blue: #AFC9D1

body.landing
  background: $landing-dark-blue asset-url("backgrounds/random_grey_variations.png", "image")
  #container
    width: 850px
    margin: 0 auto
    header
      font-size: 0.9em
      padding: 10px 0
      margin: 10px 0
      font-family: "Roadgeek 2005 Transport Medium"
      span.account
        float: right
        a
          color: $landing-light-blue
          margin-left: 20px
          margin-right: inherit
          &:hover
            color: #fff
      a
        color: #fff
        text-decoration: none
        margin-right: 20px
        &:hover
          color: #A0BDC8
  #title
    font-family: "Intro Inline"
    color: #fff
    font-size: 88px
    text-align: center
    margin: 10px 0

  #banner
    margin: 10px 0
    padding: 20px
    background: #eee asset-url("logo/dark.png", "image") no-repeat 60px 125px
    background-size: 250px 343px
    height: 400px
    +border-radius(5px)
    +single-box-shadow(#333, 0, 0, 6px)
    position: relative
    #top
      font-family: "Roadgeek 2005 Transport Medium"
      text-align: center
      font-size: 34px
      padding: 24px
      color: $landing-dark-blue
      +single-text-shadow($landing-light-blue, 2px, 2px, 0)
    #side
      position: absolute
      left: 335px
      text-align: center
      width: 465px
      h2
        font-family: "Intro"
        color: #4C5566
        font-size: 20px
        margin: 26px 0
        span.green
          color: #3D6E3C
  footer
    font-size: 0.8em
    padding: 10px 0
    margin: 10px 0
    color: #f9f9f9
    font-family: "Roadgeek 2005 Transport Medium"
    text-align: center
    a
      color: $landing-light-blue
      &:hover
        color: #fff